body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto'
}

/* CSS Style for hero */
.header, .section-one {
    background-color: #1F2937;
}

.navbar.main {
    padding: 0 15%;
    justify-content: space-between;
}

.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.navbar li {
    padding: 0.35em;
    margin: 0;
    font-size: 14px;
    color: #E5E7EB;
}

.navbar .title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* CSS Style for section one */
.section-one {
    display: flex;
    padding: 7% 15%;
    gap: 5%
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 14px;
    color: #E5E7EB;
}



.content-left {
    flex: 1;
}

.content-right {
    flex: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}